---
title: Home
layout: default
pagination:
  enabled: true
id: home
---

<section
	id="home-page-introduction"
	class="row d-flex justify-content-center pt-5 pb-3"
>
	{% include position.html %}
</section>
<!--<section id="home-page-advocacy-list" class="row justify-content-center">
 <div class="col-lg-7 col-md-10">
		<div class="mt-3 pt-3">
		{% include list.html heading="Advocacy" amount=10 off=0 %}
		</div> 
	</div>
</section>-->
<section id="home-page-contributions-grid" class="row justify-content-center">
	<div class="col-lg-7 col-md-10 mt-3">
		{% include grid.html heading="Contributions" data=site.data.projects %}
	</div>
</section>
<section id="contact" class="row justify-content-center">
	<div class="col-lg-7 col-md-10 mt-5">{% include contact.html %}</div>
</section>
