<div class="row d-flex justify-content-center pb-5 pt-5">
	<div class="col-md-7 pt-5">
		<h1 class="mb-4">Hey, I'm Sean Rioux.</h1>
		<p class="lead">
			I'm a web entrepreneur, programmer, and advocate. I believe in the social
			potential of a more
			<i>open and humane world wide web</i>. Infact, I've made it my mission.
		</p>
		<p class="lead">
			This is my website where I share my thoughts on the current and future
			state of the web. You'll also find my portfolio of contributions and
			products.
		</p>
		<p class="lead pb-5">
			At the moment I'm in build mode, however, I'm certainly open to discussing
			worthwhile projects or causes. If something you see here interests you,
			it's not hard to <a href="#">reach me.</a>
		</p>
		<hr />
	</div>
</div>
