<h2>Contact</h2>
<form form action="https://formspree.io/f/xknpygak" method="POST" class="mb-3">
	<label for="contact-email" class="pt-3 form-label">Email</label>
	<input
		type="email"
		name="_replyto"
		class="form-control"
		id="contact-email"
		placeholder="name@example.com"
	/>
	<label for="contact-message" class="pt-3 form-label">Message</label>
	<textarea
		name="message"
		class="form-control"
		id="contact-message"
		rows="3"
	></textarea>
	<button class="mt-3 btn btn-primary mb-3" type="submit">Send</button>
</form>
