<div class="bg-light pt-4 pb-4 mt-5">
	<div class="container">
		<div class="d-md-flex justify-content-between">
			<ul class="nav">
				<li class="nav-item">
					<a class="pl-0 nav-link text-muted" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted" href="/privacy">Privacy policy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted" href="/terms">Terms</a>
				</li>
			</ul>
			<ul class="nav">
				<li class="nav-item">
					<a class="pl-0 nav-link text-muted" href="#"
						><i data-feather="instagram"></i
					></a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted" href="#"
						><i data-feather="twitter"></i
					></a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted" href="#"
						><i data-feather="linkedin"></i
					></a>
				</li>
			</ul>
			<div class="text-md-right text-muted pt-2">© 2020 {{site.name}}</div>
		</div>
	</div>
</div>
