<article class="mb-4 row justify-content-between">
	<div class="col-7 col-xl-9">
		<small
			><a class="text-muted" href="{{site.baseurl}}/category/{{post.category}}">
				{{ post.category | capitalize }}
			</a>
		</small>
		<a class="text-dark" href="{{site.baseurl}}{{post.url}}">
			<h1 class="h4 mb-3 mt-2 font-weight-bold">{{post.title}}</h1>
			<p class="excerpt">{{ post.summary }}</p>
		</a>
	</div>
	{% if post.image %}
	<div class="col-5 col-xl-3">
		<a href="{{site.baseurl}}{{post.url}}">
			<img class="w-100" src="{{post.image}}" alt="{{post.image-alt}}" />
		</a>
	</div>
	{% endif %}
</article>
