  <div class="col-md-3 col-2">
    <img
      class="img-responsive rounded-circle"
      src="../assets/images/sean-rioux.jpg"
    />
  </div>
  <div class="col-md-7 col-9">
    <h1 class="mb-3">Hey, I'm Sean Rioux.</h1>
    <p class="lead">
      I'm a web entrepreneur, programmer, and advocate. I believe in the
      social potential of a more
      <i>open and humane world wide web</i>. In-fact, I've made it my mission.
      I know, I've got my work cut out for me. I'm working on it.
    </p>
    <p class="lead">
      This is my website where I share my thoughts on the current and future
      state of the web. You'll also find my portfolio of contributions and
      products.
    </p>
    <p class="lead">
      At the moment I'm in build mode, however, I'm certainly open to
      discussing worthwhile projects or causes. If something you see here
      interests you, it's not hard to find me.</a>
    </p>
    {% include social.html %}
    </ul>
  </div>
